body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
h6{
    color: blue;
}
.container {
    width: 60%;
    max-width: 600px;
}
.plan {
    background: white;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 0px;
    border-top: 5px solid;
}
.discount_2{
    color: green;
}
span.new-price{
    font-size: 30px;
    color: green;
}
span.new-price_1{
    font-size: 30px;
}


.header {
    font-weight: bold;
    font-size: 18px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.pricing {
    display: flex;
    justify-content: space-between;
}
.option {
    width: 48%;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    text-align: center;
}
.monthly {
    background: #f8f9fa;
}
.annual {
    background: #eef7e5;
}
.price {
    font-size: 20px;
    font-weight: bold;
}
.old-price {
    text-decoration: line-through;
    font-size: 14px;
}
.discount {
    
    font-size: 14px;
}
.rounded-button {
    padding: 20px 20px; 
    margin: 2px;        
    font-size: 16px;              
    border: 20px;                
    border-radius: 25px;            
    transition: background-color 0.3s;
}
.rounded-button-2{
    padding: 10px 20px;         
    font-size: 16px; 
    background-color: blue;          
    color: white;            
    border: none;               
    border-radius: 25px;        
    cursor: pointer;            
}